footer.footer {
    background-color: var(--bg-menu) /*darkslateblue8*/;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    color: whitesmoke;
}
