div.content{
    width: 83%;
    height: 80%;
    margin: auto;
    margin-left: 6%;
    margin-top: 41%;
    height: 100vh;
    position: absolute;
}

main > div {
    background-color: lavender;
    box-shadow: 0px 0px 15px rgb(153, 153, 153);
    padding: 10px;
    margin-left: 110px;
    display: flex;
}

div > input {
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    border-radius: 5px;
}

.btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: relative;
    border-radius: 5px;
}

