nav.menu{
    background-color: var(--bg-menu);
    text-align: right;
}

.menu .userButton{
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10%;
    background-color: rgb(2, 2, 92);
    color:rgb(255, 255, 255);
    margin: 5px;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 30px;
    padding:  5px;
    margin-top: 20px;
}

.menu .userButton:hover {
    color: #538cc6;
    background-color: blue;
}