:root{
  --bg-menu: #0d0014;
  --logo-width: 150px;
  --content-header-height: 90px;
  --content-footer-height: 40px;
}

.App{
  margin: 0px;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr;
  grid-template-rows: var(--content-header-height) 1fr var(--content-footer-height);
  grid-template-areas: 
    "logo menu";
  height: 100vh;
  background-color: #a1a1a1;
}

aside.logo{
  grid-area: logo;
  padding-left: 50px;
}

nav.menu{
  grid-area: menu;
}